<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howe.admin.dao.auth.RoleMenuDAO">
  <resultMap id="BaseResultMap" type="com.howe.common.dto.role.RoleMenuDTO">
    <!--@mbg.generated-->
    <!--@Table sys_role_menu-->
    <id column="role_id" jdbcType="VARCHAR" property="roleId"/>
    <id column="menu_id" jdbcType="VARCHAR" property="menuId"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, menu_id
  </sql>

  <select id="selectMenuListByRoleId" resultType="com.howe.common.dto.menu.MenuDTO">
    select *
    from sys_menu m
    left join sys_role_menu rm on m.menu_id = rm.menu_id
    where rm.role_id = #{roleId}
  </select>

</mapper>
